.menu {
  padding: 80px 5%;
  background: #0f0f0f;
  color: white;
  text-align: center;
}
.menu h2 {
  font-size: 3rem;
  color: gold;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.food-card {
  background: #1a1a1a;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 215, 0, 0.15);
  transition: 0.4s;
}

.food-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(255, 215, 0, 0.2);
}

.food-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: 0.4s;
}
.food-card:hover img{
  transform:scale(1.08);
}
.food-card h3 {
  padding: 15px;
}

.food-card p {
  padding: 0 15px;
  color: gold;
}

.food-card button {
  margin: 15px;
  padding: 10px 20px;
  border: none;
  background: gold;
  border-radius: 8px;
  cursor: pointer;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.filter-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: gold;
  font-weight: bold;
}
.search-box {
  width: 420px;
  max-width: 90%;
  padding: 16px 25px;
  border: 1px solid rgba(255, 215, 0, 0.3);
  border-radius: 50px;
  background: rgba(20, 20, 20, 0.9);
  color: white;
  font-size: 16px;
  outline: none;
  display: block;
  margin: 30px auto;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.search-box:focus {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
  border-color: gold;
}

.search-box::placeholder {
  color: #aaa;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 768px) {

  .food-grid {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  .search-box {
    width: 90%;
  }

  .food-card {
    width: 100%;
    margin: auto;
  }
}